/* join-us.css */
.join-us-container {
    display: flex;
    max-width: 1000px;
    padding: 0;
    width: 90%;
    margin-left: 55%;
    transform: translateX(-50%);
    height: calc(100vh - 100px)-1; /* Adjust based on your navbar and footer height */
}

.join-us-image {
    flex: 1.1;
    padding-right: 2rem;
}

.join-us-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    padding-left: 2rem;
}

.join-us-content {
    flex: 1;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding-top: 2rem;
}

.join-us-content h2 {
    font-family: "Roboto Slab", serif;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.join-us-content p, 
.join-us-content ul {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    font-weight: 200;
    max-width: 100%;
}

.join-us-content ul {
    padding-left: 1rem;
}

.join-us-content h2 {
    font-size: 1rem;
    font-weight: 300;
}

.contact-info {
    font-size: 0.8rem;
    line-height: 1.6;
}

.text-link {
    text-decoration: none;
    color: inherit; /* This will keep the text color the same as its parent */
    transition: text-decoration 0.3s ease;
}

.text-link:hover {
    text-decoration: underline;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .join-us-container {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .join-us-image, .join-us-content {
        width: 100%;
    }

    .join-us-image {
        padding-right: 0;
        margin-bottom: 1rem;
    }
}